@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  /* background: url("images/Landscape.jpg") no-repeat; */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* background-color: rgba(2, 21, 38, 0.95); */
  overflow: hidden;
}

.wrapper {
  height: 43rem; /* 430px */
  width: 32rem; /* 320px */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px; /* Keep this for 3D effect */
  backdrop-filter: blur(0.5rem); /* 5px */
}

.wrapper .card.login-size {
  height: 34rem; /* 340px */
  /* background: #021526; */
  background-color: rgb(7 15 22 / 80%);
  box-shadow: 0px 0.5rem 2rem 1rem rgba(2, 21, 38, 0.5); /* Shadow */
}

.wrapper .card,
.wrapper .content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem; /* 40px 20px */
  text-align: center;
  /* background: rgba(212, 0, 255, 0.26); */
  color: #fff;
  border-radius: 1rem; /* 10px */
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
  border: 0.1rem solid #40175815; /* 1px */
  /* Hide the back side of the card */
  /* background: #021526; */
  background-color: rgb(7 15 22 / 80%);
  box-shadow: 0px 0.5rem 2rem 1rem rgba(2, 21, 38, 0.5); /* Shadow */
  transform-origin: center; /* Ensure flips around the center */
}

.wrapper .card {
  transform: rotateY(0); /* Starting position */
}

.wrapper .content {
  transform: rotateY(90deg); /* Flipped position */
}

.wrapper.flip .card {
  transform: rotateY(-90deg); /* Flipping to reveal content */
}

.wrapper.flip .content {
  transform: rotateY(0); /* Showing the front */
}

.wrapper h2 {
  margin-bottom: 2rem; /* 20px */
  margin-top: -1rem; /* -10px */
  font-weight: 600;
}

.input-group {
  position: relative;
  margin-bottom: 2rem; /* 20px */
}

.input-group i {
  position: absolute;
  right: 1rem; /* 10px */
  top: 50%;
  transform: translateY(-50%);
  color: #ffffffcf;
}

.input-group input {
  width: 100%;
  padding: 1rem 3.5rem 1rem 1rem; /* 10px 35px 10px 10px */
  border-radius: 0.5rem; /* 5px */
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
}

.input-group input::placeholder {
  color: #fff;
  letter-spacing: 0.1rem; /* 1px */
  font-size: 1.2rem; /* 12px */
}

.forgot-password {
  display: block;
  margin-left: 16rem; /* 160px */
  margin-top: -1.5rem; /* -15px */
  font-size: 1rem; /* 10px */
  font-weight: 600;
  color: #fff;
}

.btn-login {
  margin: 2rem 0; /* 20px */
}

.btn {
  padding: 1rem 2rem; /* 10px 20px */
  width: 100%;
  background-color: #dfeaf7;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  border-radius: 0.5rem; /* 5px */
  cursor: pointer;
  letter-spacing: 0.1rem; /* 1px */
  margin-bottom: 1rem; /* 10px */
}

.toggle-text {
  font-size: 1.2rem; /* 12px */
  letter-spacing: 0.1rem; /* 1px */
  font-weight: 300;
}

.toggle {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0;
}

.toggle:hover {
  text-decoration: underline;
}

/* NEW */

.ui.error.message.display-none {
  display: none;
}

.ui.error.message {
  background-color: #fff6f6;
  color: #9f3a38;
}

#error-message {
  background-color: none;
  box-shadow: none;
  background: rgba(212, 0, 255, 0);
  border: none;
  margin: 0;
  margin-top: -1em;
}

#login-error-message {
  background-color: none;
  box-shadow: none;
  background: rgba(212, 0, 255, 0);
  border: none;
  margin: 0;
  margin-top: -1em;
}

.section {
  display: flex;
  height: 100vh;
  /* background-color: #ececec; */
  background-color: rgba(2, 21, 38, 0.95);
  justify-content: center;
  align-items: center;
}

#user-profile {
  display: none;
}
.ui.segment,
.ui.segments .segment {
  font-size: inherit;
}
.ui.tiny.button,
.ui.tiny.buttons .button,
.ui.tiny.buttons .or {
  font-size: inherit;
}

.icon-mobile-nav {
  height: 3.8rem;
  width: 3.8rem;
}
.logo {
  height: 5.2rem;
}

.header1 {
  height: 9.6rem;
}
/* 
#error-message {
  background-color: none;
  box-shadow: none;
  background: rgba(212, 0, 255, 0);
  border: none;
  color: #aa1a1a;
  margin: 0 auto;
  padding: 16px 10px;
}

*/

/* FOR MODAL */

.modalh1 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 18px;
  color: #333;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  font-size: 10px;
  text-align: center;
  background-color: white;
  padding: 28px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.close-modal {
  position: absolute;
  top: 0.1rem;
  right: 0.6rem;
  font-size: 28px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

@media (max-width: 84em) {
  .modal {
    width: 40%;
  }
}

/* For screens smaller than 75em (1200px) */
@media (max-width: 75em) {
  .modal {
    width: 40%;
  }
}

/* For screens smaller than 59em (944px) */
@media (max-width: 59em) {
  .modal {
    width: 55%;
  }
}

/* For screens smaller than 44em (704px) */
@media (max-width: 44em) {
  .modal {
    width: 55%;
  }
}

/* For screens smaller than 34em (544px) */
@media (max-width: 34em) {
  .modal {
    width: 65%;
  }
}

/* NEW */

/* BTN */
.resend-btn {
  background: linear-gradient(
    to right,
    #ff4e50,
    #f9d423
  ); /* Gradient from red to orange */
  color: white; /* Text color */
  border: none;
  margin-top: 10px;
  border-radius: 25px; /* Rounded edges */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out; /* Smooth and fluid transitions */
}

.resend-btn:hover {
  background: linear-gradient(
    to right,
    #f9d423,
    #ff4e50
  ); /* Reverse the gradient */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  transform: scale(1.05); /* Slightly enlarge */
}

.resend-btn:active {
  background: linear-gradient(
    to right,
    #ff3b3b,
    #f9b323
  ); /* Slightly darker gradient on active */
  transform: scale(0.98); /* Slightly shrink on click */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); /* Minimized shadow */
}

/* NEW */
#reset-password-form {
  display: none;
}

.modal-text {
  color: #333;
  font-size: 14px;
}

.login-toggle {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.login-toggle {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0;
}

.login-toggle:hover {
  text-decoration: underline;
}
.display-block {
  display: block;
}

#reset-error-message {
  background-color: none;
  box-shadow: none;
  background: rgba(212, 0, 255, 0);
  border: none;
  margin: 0;
  margin-top: -1em;
}
