* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #f1e5da;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
  background-color: #021526;
}

/* HEADER */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1a55;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 16.8rem;
  position: relative;
}

.container {
  /* 1140px */
  display: flex;
  /* align-items: center; */
  gap: 12rem;
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 10rem;
}

.container.greetings h1 {
  font-size: 5.2rem;
}

.svg {
  display: inline-block;
  transform: rotate(90deg);
  height: 5rem;
  width: 12rem;
}

.icon {
  height: 100%;
  width: 100%;
  fill: currentColor;
  z-index: -1;
}

.convert {
  display: flex;
  align-items: center;
  justify-content: center;
}
.convert h1 {
  display: flex;
  align-items: center;
  font-size: 4rem;
  gap: 2.4rem;
}

.main-nav-list li a:not(.nav-cta)::before {
  content: "";
  background: #edf0f1;
  display: block;
  height: 0.25rem;
  position: absolute;
  top: -0.5rem;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform ease-in-out 0.3s;
}

.main-nav-list li a:hover::before {
  transform: scale(1, 1);
}

.main-nav-list li {
  display: inline-block;
  list-style: none;
  padding: 0 1.4rem;
}

.main-nav-list li a {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: #edf0f1;
  transition: all 0.3s ease;
}

.main-nav-list li a:hover,
.main-nav-list li a:active {
  color: #0088a9;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  list-style: none;
}

.main-nav-link-btn,
.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #edf0f1;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link-btn.nav-cta:hover,
.main-nav-link-btn:active,
.main-nav-link:hover,
.main-nav-link:active {
  color: #edf0f1;
}

.main-nav-link.nav-cta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #edf0f1;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #edf0f1;
}

.logo {
  height: 5.2rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #edf0f1;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
  /* color: #333; */
  color: #edf0f1;
}

/* NAV OPEN */
.header1.nav-open li a {
  /* color: #333; */
  color: #edf0f1;
  z-index: 9999;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
  z-index: 999;
}

.bar-hidden .progress,
.bar-hidden .progress2,
.bar-hidden .progress3 {
  display: none; /* Hide the progress bars */
}

.nav-cta {
  font-size: 2.4rem;
  font-weight: 500;
  background-color: #0088a9;
  padding: 1.2rem 2.4rem;
  border-radius: 1.6rem;
  transition: all 0.3s ease;
}

.nav-cta:hover {
  background-color: rgba(0, 135, 169, 0.521);
  padding: 1.4rem 3.2rem;

  margin-left: -0.4rem;
}

/* END OF HEADER */
.leftContainer {
  /* max-width: 60rem; */
  width: 62rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-left: 2rem; */
}

.rightContainer {
  display: grid;
  width: 60rem;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  /* height: 41rem; */
  /* grid-template-rows: 1fr 1fr;
  justify-content: center; */
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.signalBar {
  /* margin: 8rem 0; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.4rem;
  width: 50rem;
  height: 20rem;
}
.image-container {
  display: flex;
  width: 50rem;
  align-items: center;
  justify-content: space-between;
}

.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 30rem;
  gap: 16rem;
  margin-top: 1rem;
  /* background-color: rgba(0, 255, 0, 0.2); */
}

/* 
///////
///////
*/
/* start of changeable styles */
/* .random {
  margin: 5rem 0 0 5rem;
}
.random2 {
  margin: 1rem 0 0 5rem;
}
.random3 {
  margin: 1rem 0 0 5rem;
}
.info {
  margin: 3rem 5rem;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.green {
  color: green;
} */

.progress {
  width: 3.8rem;
  height: 26rem;
  border-radius: 4rem;
  /* border: solid 0.3rem #4e4e4e; */
  background-color: #385682;
  position: relative;
  overflow: hidden;
  transform: rotate(180deg);
  z-index: -1;
}

.progress2 {
  /* width: 2.1rem;
  height: 20rem; */
  /* border-radius: 1rem; */
  width: 3.8rem;
  height: 26rem;
  border-radius: 4rem;
  /* border: solid 0.3rem #4e4e4e; */
  background-color: #385682;
  position: relative;
  overflow: hidden;
  transform: rotate(180deg);
  z-index: -1;
}

.progress3 {
  width: 3.8rem;
  height: 26rem;
  border-radius: 4rem;
  /* border: solid 0.3rem #4e4e4e; */
  /* background-color: #1e1e1e; */
  background-color: #385682;
  position: relative;
  overflow: hidden;
  transform: rotate(180deg);
  z-index: -1;
}

div.track {
  position: relative;
  width: 100%; /* Full width of the progress container */
  height: 100%; /* Full height */
  overflow: hidden;
  -webkit-animation: prgBar 5s linear 0s infinite alternate;
  animation: prgBar 5s linear 1;
}

div.bar {
  width: 100%; /* Full width of the progress container */
  height: 0%; /* Initially 0%, grows vertically */
  background-color: #00ffff;
  box-shadow: 0px 0px 5px #00ffff;
  position: absolute;
  top: 0; /* Start bar growth from the top */
  transform: rotate(180deg);
}

@-webkit-keyframes prgBar {
  0% {
    height: 0%;
  }
  9.99% {
    height: 0%;
  }
  10% {
    height: 10%;
  }
  95% {
    height: 100%;
  }
}

@keyframes prgBar {
  0% {
    height: 0%;
  }
  9.99% {
    height: 0%;
  }
  10% {
    height: 10%;
  }
  95% {
    height: 100%;
  }
}

.globeImg {
  /* background-image: url("img/globeColored.png"); */
  background-image: url("/iphowinProject/img/globeColored.png");
  width: 100%;
  /* height: 4rem; */
  height: 4rem;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.smartImg {
  /* background-image: url("img/smartColored.png"); */
  background-image: url("/iphowinProject/img/smartColored.png");
  width: 100%;
  height: 4em;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.ditoImg {
  /* background-image: url("img/ditoColored.png"); */
  background-image: url("/iphowinProject/img/ditoColored.png");
  width: 100%;
  height: 4rem;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.highestEl {
  display: grid;
  grid-template-columns: 3fr 2fr; /* 3 parts for text and 2 part for image/link */
  max-width: 48rem;
  gap: 2rem; /* Space between the two parts */
  margin: 8rem 0;
}

.highestElText {
  text-align: left; /* Align text to the left */
  font-size: 5.4rem; /* Set the font size for the text */
}

.imageDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.textEl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.greetings {
  margin-top: 3rem;
  text-align: center;
  display: block;
  /* align-items: center; */
  /* justify-content: center; */
}

/* BUTTON CSS */

.reRouteBtn {
  background: #fff;
  border: none;
  padding: 1rem 2rem;
  display: inline-block;
  /* font-style: inherit; */
  font-size: 2.4rem;
  font-weight: 700;
  width: 20rem;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 1;
}

.reRouteBtn span {
  display: inline-block;
  transform: skew(21deg);
}

.reRouteBtn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.reRouteBtn:hover {
  color: #fff;
}

.reRouteBtn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.displayNone {
  display: none;
}

/* test */

#map {
  display: flex;
  align-items: center;
}

.responsive-map {
  width: 400px; /* Set default width to 400px */
  max-width: 100%; /* Allows it to shrink down on smaller screens */
  height: auto; /* Maintain aspect ratio */
  aspect-ratio: 4 / 3; /* Keeps the aspect ratio */
  border: 0; /* Remove the iframe border */
  margin: 0 auto; /* Center the iframe */
}

@media screen and (max-width: 768px) {
  .responsive-map {
    width: 100%; /* Full width on smaller screens */
    max-width: 100%; /* Prevent it from exceeding screen size */
  }
}

/* LOADING SCREEN */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.96);
  color: white;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  font-family: Arial, sans-serif;
  z-index: 9999; /* Ensures it's on top of other elements */
}
.loading-screen h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.loading-screen p {
  font-size: 4rem;
  margin-bottom: 20px;
}

.loading-screen-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.96);
  color: white;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  font-family: Arial, sans-serif;
  z-index: 9999; /* Ensures it's on top of other elements */
}

.loading-screen-login h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.loading-screen-login p {
  font-size: 4rem;
  margin-bottom: 20px;
}
.rowLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* NEW */
/* FOR MODAL */

.modalh1 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 18px;
  color: #333;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  font-size: 10px;
  text-align: center;
  background-color: white;
  padding: 28px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.close-modal {
  position: absolute;
  top: 0.4rem;
  right: 0.8rem;
  font-size: 28px;
  color: #dfeaf7;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}
#update-data-form {
  z-index: 999;
}

.wrapper {
  height: 46rem; /* 430px */
  width: 32rem; /* 320px */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px; /* Keep this for 3D effect */
  backdrop-filter: blur(0.5rem); /* 5px */
}

.wrapper .card.login-size {
  height: 46rem; /* 340px */
  /* background: #021526; */
  background-color: rgb(7 15 22 / 95%);
  box-shadow: 0px 0.5rem 2rem 1rem rgba(2, 21, 38, 0.5); /* Shadow */
}

.wrapper .card,
.wrapper .content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem; /* 40px 20px */
  text-align: center;
  /* background: rgba(212, 0, 255, 0.26); */
  color: #fff;
  border-radius: 1rem; /* 10px */
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
  border: 0.1rem solid #40175815; /* 1px */
  /* Hide the back side of the card */
  /* background: #021526; */
  background-color: rgb(7 15 22 / 80%);
  box-shadow: 0px 0.5rem 2rem 1rem rgba(2, 21, 38, 0.5); /* Shadow */
  transform-origin: center; /* Ensure flips around the center */
}

.wrapper h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem; /* 20px */
  margin-top: -1rem; /* -10px */
  font-weight: 600;
}

.input-group {
  position: relative;
  margin-bottom: 2rem; /* 20px */
}

.input-group i {
  position: absolute;
  right: 1rem; /* 10px */
  top: 50%;
  transform: translateY(-50%);
  color: #ffffffcf;
}

.input-group input {
  width: 100%;

  padding: 1rem 3.5rem 1rem 1rem; /* 10px 35px 10px 10px */
  border-radius: 0.5rem; /* 5px */
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
}

.input-group input::placeholder {
  color: #fff;
  letter-spacing: 0.1rem; /* 1px */
  font-size: 1.5rem; /* 12px */
}

.forgot-password {
  display: block;
  margin-left: 16rem; /* 160px */
  margin-top: -1.5rem; /* -15px */
  font-size: 1rem; /* 10px */
  font-weight: 600;
  color: #fff;
}

.btn-login {
  margin: 2rem 0; /* 20px */
}

.btn {
  padding: 1rem 2rem; /* 10px 20px */
  width: 100%;
  background-color: #dfeaf7;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  border-radius: 0.5rem; /* 5px */
  cursor: pointer;
  letter-spacing: 0.1rem; /* 1px */
  margin-bottom: 1rem; /* 10px */
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn:hover {
  background-color: #c5d9f3; /* Slightly darker shade of the original */
  transform: scale(1.02); /* Slight zoom on hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.btn:active {
  transform: scale(0.98); /* Slight press-in effect */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}

.toggle-text {
  font-size: 1.2rem; /* 12px */
  letter-spacing: 0.1rem; /* 1px */
  font-weight: 300;
}

.toggle {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0;
}

.toggle:hover {
  text-decoration: underline;
}
.ui.error.message.display-none {
  display: none;
}

.ui.error.message {
  background-color: #fff6f6;
  color: #9f3a38;
  /* color: #2ec246; */
}

#error-message {
  background-color: none;
  box-shadow: none;
  background: rgba(212, 0, 255, 0);
  border: none;
  margin: 0;
  margin-top: -1em;
}

#login-error-message {
  background-color: none;
  box-shadow: none;
  background: rgba(212, 0, 255, 0);
  border: none;
  margin: 0;
  margin-top: -1em;
}
/* color: #9f3a38; */
#reset-error-message {
  background-color: none;
  box-shadow: none;
  background: rgba(212, 0, 255, 0);
  border: none;
  margin: 0;
  margin-top: -1em;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Suppress warning: Required for old Firefox */
  appearance: textfield;
}

#update-data-form {
  display: none;
}

.modal-text {
  color: #333;
  font-size: 14px;
}

.login-toggle {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.login-toggle {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0;
}

.login-toggle:hover {
  text-decoration: underline;
}

#user-email-form {
  font-size: 1.5rem;
}

.surveyH2 {
  font-size: 2.4rem;
  margin-top: 3rem;
}

.surveyDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.google-form-link {
  text-decoration: none;
  color: #005bb5; /* Main color set to #005bb5 */
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.google-form-link h2 {
  margin: 0;
  font-size: 1.8rem;
}

.google-form-link:hover {
  transform: scale(1.05);
  color: #0099cc; /* Change hover color */
}

.google-form-link:active {
  transform: scale(0.98);
  color: #003c8f; /* Change color when the link is active */
}

/* New */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
  /* height: 100%; */
}

.image_outer_container {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  border-radius: 50%;
}

.image_inner_container {
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.image_inner_container img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid white;
}

.green_icon {
  background-color: #4cd137;
  position: absolute;
  right: 30px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  border: 5px solid white;
  border-radius: 50%;
}
